<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Modelos de Aprendizaje No Supervisado</title>
</head>
<body>
    <div class="container">
        <h1>Modelos de Aprendizaje No Supervisado</h1>
        <ul>
            <li><a href="/pca">Análisis de Componentes Principales (PCA)</a></li>
            <li><a href="/multi-armed-bandit">Aprendizaje por Refuerzo: Multi-Armed Bandit</a></li>
        </ul>
    </div>
</body>
</html>
